header{
    background-color: #900c3f;
    height: 100px;
}
nav{background-color: #daf7a6;
    height: 60px;

}

*{
    text-align: right;/* aligne le texte à droite */
}
section:first-child{
    background-color: navy;
    height :550px;
}
div:first-child{
    
}
