*/



/* Global */

.content{
    background-color: orange;
    min-height: 500px;
    width: 50%;
    margin: auto;



}
header{
    height: 150px;background-color: blanchedalmond;
}
nav{
    height: 100px;
    background-color: rgb(174 , 121, 224);
}
@media only screen and (max-width: 1200px) {
    .content {
      background-color: green;
      width: 100%;
    }
  
}
main section:first-child{
  background-color: red;
  height: 200px;
}
  
main section:nth-child(2){
  background-color: blue;
  height: 30px;
}
main section:last-child {
background-color: aqua;

}

@media only screen and (max-width: 750px) {
    .content {
      background-color: lightblue;
      width: 80%;
    }
    header{
      height: 80px;
    }
    
  }
  @media only screen and (max-width: 500px) 
  .content {
      background-color: lightblue;
      width: 50%;
      height: 20px;
    }
    *{
      text-align: left;
    }
    main section:first-child{
      background-color: gray;
      height: 50px;
    }
    main section:last-child {
      font-size: 24px;


   
  }
  

  
