*{
    text-align: center;
    font-family: cursive;
    margin: 0px;
    padding: 0px;
}
.content{
    background-color: red;
    width: 1200px;
    min-height: 500px;
    margin: auto;
    border: 2px solid #000;
}
header,
footer{
    height: 80px;
    color: white;
    background-color: rebeccapurple;
    padding-top: 10px;
}


nav{
    height: 10px;
    background-color: bisque;
}
main section
