table{
    border-collapse: collapse;
    width: 600px;
     height: 80vh ;
     margin: auto;
}
td{
    border: 1px solid black; 
    /* background-color: yellow; */
    
}


.jaune{
    background-color: yellow;
}
.noir{
    background-color: black;
}
.bleu{
    background-color: blue;
}
.gris{
    background-color: gray;
}
